[2016-04-04 19:35] Sinhika opened #1 "Fusion 1.7.10-1.6.0 crashes on use of Sinisite bow"
[crash-2016-04-04_14.30.14-client.txt](https://github.com/Sinhika/SimpleOres2/files/203187/crash-2016-04-04_14.30.14-client.txt)

[2016-10-15 18:54] Sinhika commented on #1
Fixed some time ago, forgot to close this

[2016-10-15 18:54] #1 closed, assigned to Sinhika

[2016-10-31 20:21] gkuba opened #2 "Unable to get ore to spawn in other dimensions."
Hello,

I am currently trying to get the ores from this pack to gen in other dimensions such as the Aroma 1997 mining dimension which uses overworld type generation. Is there a config setting or something I can set to force it to spawn in other dimensions as well?

Thanks

PS I'm using the latest 1.10.2 download from curse and have the core as well as fusion and netherrocks.

[2016-10-31 23:46] Sinhika commented on #2
You currently can't do that. I haven't added custom dimension ore generation back in yet... the old system was a bit confusing.

[2016-10-31 23:49] gkuba commented on #2
Ok thanks, I will have to look into an alternative way to force gen or retro gen them until then.

[2017-01-16 03:27] TheOldOne822 opened #3 "1.10.2 Armor Reduction array reversed"
At some point between 1.7.10 and 1.10.2 Minecraft reversed the order of the armor damage reduction array I don't know when it happened and it could have been form 1.9 to 1.10 but in 1.10.2 it is [boots, legs, chest, helm] and SimpleOres family of mods are sending it [Helm, Chest, Legs, Boots].
I was going to post it to Simple Core because it effects all 3 but after looking at the code I see it's n

[2017-02-17 20:31] Sinhika commented on #3
...found the problem, it's where I initialize ArmorMaterial for each custom material. It would have been helpful to let me know that's where the issue was, because I wasted a fair bit of time staring at the config file code, which was fine. ;-)  Next version I push out should have the fix.

[2017-03-04 14:37] HenryRichard opened #6 "Incorrect Ingots Model Files"
The four ingots have incorrect model files - they render at a different angle and are much larger than other ingots. You probably forgot to update them for 1.9.

[2017-03-05 14:03] Sinhika commented on #6
Fixed thanks to pull request #5

[2017-03-05 14:03] #6 closed, assigned to nobody

[2017-04-01 19:16] Sinhika commented on #3
Fixed with Simple Ores 2 1.9.1.3.

[2017-04-01 19:16] #3 closed, assigned to Sinhika

[2017-04-08 19:35] P3rf3ctXZer0 opened #7 "1.10.2 - Bug Hunting - Information Gathering!"
This is not a bug report!

Has anyone seen this type of issue before?

https://github.com/Ivorforce/RecurrentComplex/issues/176

[2017-04-10 14:22] #7 closed, assigned to nobody

[2017-05-10 12:03] Sinhika opened #8 "Enable/Disable Ore gen using config"
Add enable/disable oregen toggles to config for each ore, so mods that control oregen can be used instead, if desired.

[2017-06-08 11:15] Dubster94 opened #9 "Smelting copper gives no EXP in 1.10.2 1.9.1.3"
Hello! Title should really say it all. In the meantime, I've created a MineTweaker script that fixes this bug, so this issue is not exactly critical.

[2017-09-04 17:24] Sinhika opened #10 "Onyx ore does not drop anything when mined."
Onyx ore block drops xp, but neither onyx gem nor onyx ore block.

[2017-09-04 17:30] Sinhika commented on #9
XP rate for copper is too low, but it is there. Slow XP rate means that only every Nth copper bar shows an XP jump when you take it out. XP rate needs to be boosted to something like iron's.

[2017-09-04 18:56] Sinhika commented on #10
Fixed with commit 7e7c85e4663089fdaf6f4b6f8494488b5e03a6a9

[2017-09-04 18:56] #10 closed, assigned to Sinhika

[2017-09-15 11:58] Lordician opened #11 "Nuggets"
I am currently playing with this mod together with some other mod that changes the smelting to only give a nugget, however, simple ores sadly does not have nuggets of it's metals.
So i would like to suggest to add nuggets of your metals for just this extra bit of mod compatibility.

[2017-09-15 12:38] Sinhika commented on #11
This is a good idea. I could add it to the 1.11.2 version, or wait until the port to 1.12. Any preference?

[2017-09-15 13:07] Lordician commented on #11
Personally i am playing on 1.11.2 (mainly due to some mods that have not been updated to 1.12 yet, for example ice and fire).
So i would prefer 1.11.2, but if you wait until the port to 1.12 i can understand.

[2017-09-15 13:13] Lordician commented on #11
Sorry for posting it in both things, but i figured i might as well since it might help you in managing what you have/want to do still.
While i am at it, fusion's metals do not necessarily need nuggets since they are alloys, but while you are at it, maybe add it, just in case.

[2017-10-24 10:28] SpringsTS opened #12 "Cannot use bows from the mod"
Hi,

I registered on GitHub to be able to post this issue: I cannot use the bows from the mods in Survival mode. Happens for Mythril, Onyx (and Sinisite with the Fusion mod).
_ When I'm in Creative mode, no problem
_ When I'm in Survival, while I keep the right button down, the bow is animated like if I change of tool in my hand.

Tested with Minecraft 1.11.2 + Forge 13.20.1.2513 + the last versio

[2017-10-26 12:42] Sinhika commented on #12
Well, I have duplicated the problem, at least. I will be looking into it soon.

[2017-10-26 23:27] Sinhika commented on #12
Fixed with latest release of **SimpleCore API,** https://minecraft.curseforge.com/projects/simplecore-api/files/2494558

[2017-10-26 23:27] #12 closed, assigned to Sinhika

[2017-10-29 07:50] SpringsTS commented on #12
Thank you, you're the best!

[2017-11-18 15:33] #9 closed, assigned to Sinhika

[2017-11-18 15:34] Sinhika commented on #8
Did this a while back.

[2017-11-18 15:34] #8 closed, assigned to Sinhika

[2018-04-14 17:05] fandomaniac opened #13 "[1.12.2] Tipped and other special Arrows do not deplete when fired from a SimpleOres2 bow with an Infinity enchantment."
When firing Vanilla Tipped Arrows (Harming, Healing, Swiftness, etc.) or modded arrows (Extra Arrows from Quark), from a Mythril or Onyx Bow with an Infinity Enchantment, this does not deplete the arrow as it would with a vanilla bow with Infinity.

[2018-08-15 00:11] ChopZA opened #14 "Onyx bow not craftable"
[01:48:24] [Server thread/ERROR]: Couldn't load advancement simpleores:recipes/onyx_bow: Task Advancement{parentId=simpleores:recipes/onyx_tools, display=null, rewards=AdvancementRewards{experience=0, loot=[], recipes=[simpleores:onyx_bow, simpleores:onyx_rod], function=null}, criteria={has_recipe1=net.minecraft.advancements.Criterion@6e76562c, has_recipe2=net.minecraft.advancements.Criterion@1c64

[2018-10-08 15:34] fandomaniac commented on #13
This bug still exist in the latest version: 1.12.2-1.11.2.0.

[2018-10-09 02:48] Sinhika commented on #13
Yep, it's a bug. Obsolete code that was cut & pasted & edited from the vanilla ItemBow code before tipped arrows were a thing.

[2018-10-09 02:58] Sinhika commented on #14
Versions prior to 1.12.2 are no longer supported.  In SimpleOres2 1.12.2-1.11.2.0, onyx bows are craftable just fine. I cannot duplicate or clearly identify a bug here.  The error message you posted  from an older version relates to the "hidden" advancements that add recipes to the crafting table recipe book. You can still craft stuff without that.

[2018-10-09 02:58] #14 closed, assigned to nobody

[2018-10-20 14:45] Sinhika commented on #13
Fixed by simplecore-1.12.2-1.7.3.4 and SimpleOres2 1.12.2-1.11.2.2

[2018-10-20 14:45] #13 closed, assigned to Sinhika

[2018-10-27 03:08] fandomaniac opened #17 "Bows Cannot Be Repaired on Anvils"
Bows cannot to be repaired on anvils. I've tried Onyx and Mythril Bows with no success. However, I seem to be able to repair swords and other tools with no issues.

![image 1](https://user-images.githubusercontent.com/37810246/47599038-dd2d4c80-d973-11e8-9f5f-f4e60a3a28dd.jpg)

[2018-10-27 13:39] Sinhika commented on #17
I looked into this.

1. Normal repair material for the bows are mithril and onyx _rods_, for mythril and onyx bows respectively. Note that a vanilla bow cannot be repaired with raw ingredients on an anvil at all.
2. Vanilla bow repair mode on an anvil (damaged bow + bow) also works with Simple Ores bows, though material-wise you're far better off using the rods for repair materials.

In both cases

[2018-10-27 13:39] #17 closed, assigned to Sinhika

[2018-10-28 05:21] fandomaniac commented on #17
Sorry Sinhika, the document I read online that mentioned ingots for repair must have been outdated.

[2018-10-29 12:20] Sinhika commented on #17
You are right about that... The SimpleOres Wiki is a bit out-of-date, but, to my surprise, it looks like I have edit priviledges there, so I will update it. I did not think I had edit privs there (it's AleXndr's old wiki)

[2018-11-06 15:20] fandomaniac opened #18 "Duplication bug with Simple Bows"
If you fire a tipped arrow from a Simple Ores bow and are able to retrieve the shot arrow, you will get that arrow back plus have an additional arrow added to your inventory. I tested with a Mythril Bow with Mending and fired a Spectral arrow,

![2018-11-06_10 13 26](https://user-images.githubusercontent.com/37810246/48073816-8adaff80-e1ad-11e8-8a10-05f0514c1cdc.png)
![2018-11-06_10 13 31](https:/

[2018-11-06 15:24] fandomaniac commented on #18
You can keep firing them at the ground and every time you retrieve the arrow you increase your arrow count. This was also done with a bow without the Infinity enchantment.

[2019-06-29 18:27] kwpugh opened #19 "[1.14.2] Overriding vanilla shears"
Hi,

This may not be an issue, it may just be me.

Simple Ores overrides vanilla jsons for leaves and grass and adds in modded shears as valid tools.

I started to do the same thing.

I have SimpleOres in my test modpack.   While testing your shears and mine, neither drops grass or leaves.   With just your shears OR just mine, everything is fine.

Are we overriding each other?   I'm not sure how t

[2019-06-29 18:51] Sinhika commented on #19
It's a serious problem in that shears don't work as shears unless they are specified by id (not tag) in the loot tables. (Except sheep, they are fixed for sheep). This is terrible for mod compatibility, unless we can figure out how to append things to the loot tables rather than overriding them. I believe the Forge devs are working on the problem, because I did see stubs for using IShearable for b

[2019-07-20 15:20] Sinhika commented on #18
1.12.2 is no longer in maintenance; problem hopefully fixed in 1.14.3.

[2019-07-20 15:20] #18 closed, assigned to nobody

[2019-07-20 15:20] Sinhika commented on #11
Nuggets are being added in 1.14+ versions.

[2019-07-20 15:20] #11 closed, assigned to Sinhika

[2019-07-20 15:21] Sinhika commented on #2
Anyone know if this is working in 1.14.3? I don't have an alternate overworld dimension mod around to test with.

[2019-07-20 15:22] Sinhika opened #20 "Simple Ores not generating in mod biomes"
See title. Simple Ores are generating in vanilla biomes, but not in mod biomes in 1.14.3

[2019-07-20 15:23] #20 closed, assigned to Sinhika

[2019-07-20 15:26] Sinhika commented on #20
Fixed by commit 169ab4a9f39223975c80f392e43a2e18a4c302b9

"Original" OreGen code borrowed from examples on Minecraftforge forums iterated over vanilla BiomeManager, which doesn't always see mod biomes. Iterate over the Forge biome registry instead, that's what it's there for.

[2019-08-06 14:09] Sinhika opened #21 "Language file issues"
- Forgot to add nuggets to lang.json
- Misspelled "Mythril Chestplate"
- Adamantium leggings achieve has typo.

[2019-08-06 14:10] Sinhika opened #22 "Copper buckets don't dispense water"
See title. Copper bucket code kludge apparently missed dispenser case.

[2019-10-03 20:14] QuantumToasted commented on #21
@Sinhika Mind if I tackle these? Would be happy to submit a PR.

[2020-01-08 18:21] CarlucciMods opened #24 "Mod support for Silences Mechinisms Mod"
be able to put your ores in the crusher, as of right now will not let you.  Greast Work on your mod....please and thank you

[2020-02-05 23:09] smoothuk opened #26 "[1.12.2] Disabling copper bucket creation in config causes crash"
As the title suggests.  No problems found disabling other items or materials.  Tested mod in both a large modpack and by itself, with SimpleCore of course.  Maybe related to issue [#22?](https://github.com/Sinhika/SimpleOres2/issues/22)

[2020-02-19 21:20] cutcat101 opened #27 "[1.12.2] Holding right click while switching bows in the hotbar crashes the game"
Crashes every time when switching from a simpleores bow to a non simpleores bow

Switching from a vanilla bow to a simpleores onyx bow:
https://paste.dimdev.org/eteqijamop.mccrash

Switching from a betterwithmods compound bow to a simpleores mythril bow:
https://paste.dimdev.org/umemaxajey.mccrash

Other crashes:
https://paste.dimdev.org/motuquhivu.mccrash
https://paste.dimdev.org/degexuqoga.mccra

[2020-03-06 07:40] dcow opened #28 "1.15 Update?"
What needs to happen for a 1.15 release? Can I help in any way?

[2020-03-13 19:25] kil0byt3 commented on #27
Also apparently food:
"If you rapidly switch between food and a mythril bow while charging the bow, it causes you to crash"

https://paste.dimdev.org/duwejeliju.mccrash

[2020-03-22 01:47] glowstoneturtle opened #29 "How to change config files on a forge server?"
Hi there,
I host my own modded server on Forge. I heard this mod was completely editable to your preferences. I want to make mythril and adamantium less OP. I'm trying to find the config files on my server, but I can't find them anywhere. Is it possible to change these values and where do I do this in the files to apply it to my server?

[2020-04-06 15:36] #28 closed, assigned to nobody

[2020-04-06 15:37] Sinhika commented on #27
I am no longer maintaining the 1.12.2 versions.

[2020-04-06 15:37] #27 closed, assigned to nobody

[2020-04-06 15:37] Sinhika commented on #29
Which Minecraft version?

[2020-04-06 23:56] glowstoneturtle commented on #29
1.14.4

On Mon, Apr 6, 2020 at 10:38 AM Sinhika <notifications@github.com> wrote:

[2020-04-12 23:26] Sinhika commented on #29
The original 1.14.4 port did not have anything configurable except turning the ores on and off. The current 1.15.2 version has configurable ore generation, but not armor/tool parameters, yet.

[2020-04-13 01:25] glowstoneturtle commented on #29
Gotcha, thank you!

[2020-04-13 17:32] cech12 commented on #19
You can do loot table injections like I have done in my mod: https://github.com/cech12/CeramicShears/commit/330341daf2b827321455725adf3f50ec49c9cb82

Or you can wait until the forge:shears tag is included into Forge. :)

[2020-04-13 23:07] Sinhika commented on #19
I finally fixed it with GlobalLootModifiers in 1.15.2. I'll eventually backport it to 1.14.4, along with the other Simple Ores mods.  (They've recently backported the GlobalLootModifier stuff to Forge for 1.14.4).

You might want to look at that solution--it worked out really well.

[2020-04-13 23:08] kwpugh commented on #19
Thanks for the heads-up

[2020-05-14 14:46] #22 closed, assigned to Sinhika

[2020-05-21 14:41] #19 closed, assigned to Sinhika

[2020-05-30 19:44] #29 closed, assigned to nobody

[2020-05-30 19:44] Sinhika commented on #26
I am no longer supporting 1.12.2

[2020-05-30 19:44] #26 closed, assigned to nobody

[2020-05-30 19:45] #21 closed, assigned to Sinhika

[2020-05-30 19:45] Sinhika commented on #2
Ore generation was completely re-written as of 1.15.2.

[2020-05-30 19:45] #2 closed, assigned to Sinhika

[2020-05-30 19:46] Sinhika opened #32 "Mod shears won't carve pumpkins"
None of the Simple Ores-based shears will carve pumpkins like vanilla shears do.

[2020-06-03 18:45] Sinhika commented on #32
Fixed with 2223ee839ceb231a6eafed804272afc965a2227f

[2020-06-03 18:45] #32 closed, assigned to Sinhika

[2020-06-29 20:05] StellaBiscuit opened #34 "Wrong Forge Version???"
![What](https://user-images.githubusercontent.com/53101126/86050643-1e67e080-ba22-11ea-88b8-25ee90922b79.png)

Hmmmmm, not sure it's how it suppose to work... (Removing Fusion does the same error)

[2020-06-29 21:40] #34 closed, assigned to nobody

[2020-06-29 21:40] StellaBiscuit commented on #34
I'm a dumbass
Though it was 31.2.2.6

[2020-07-04 21:39] rlesch opened #35 "any chance silver could be added?"
as topic says, any chance that silver ore gets added?

[2020-07-05 00:07] Sinhika commented on #35
I plan to port Zot's Only Silver mod. It used to be a companion mod for SimpleOres, but Zot hasn't been around since about 1.10 or so.

[2020-07-08 21:04] ClaudiusMinimus opened #36 "Compatibility with Industrial Reborn for 1.16.1"
Add compatibility for [Industrial Reborn](https://www.curseforge.com/minecraft/mc-mods/industrial-reborn) so [SimpleOres](https://www.curseforge.com/minecraft/mc-mods/simpleores) can be used to be used for crafting of their machines and cables.

[2020-07-08 21:07] ClaudiusMinimus opened #37 "Tin/Copper Blocks not crafting to ingots"
While JEI shows you can craft block to ingot for both copper and tin if you put a block in a crafting table there is no output.

SimpleOres2 1.16.1-2.2.0.0

[2020-07-08 21:26] Sinhika commented on #37
I am unable to duplicate this bug; it works fine when I test it with Forge 32.0.59, SimpleOres2 1.16.1-2.2.0.0, and JEI. Perhaps you have some additional mods that are causing a recipe conflict or altering recipes?

[2020-07-08 21:26] #37 closed, assigned to Sinhika

[2020-07-08 21:27] #35 closed, assigned to nobody

[2020-07-08 21:33] Sinhika commented on #36
**Industrial Reborn** is a closed-source mod. My metal ingots already have forge tags so they can be used in recipes that call for "forge:ingots/copper" or "forge:ingots/tin". Without some kind of public API or documentation for **Industrial Reborn**, there is nothing further that I can do.

[2020-07-08 21:33] #36 closed, assigned to Sinhika

[2020-07-08 21:55] Sinhika commented on #24
I just tested SilentMechanisms-1.15.2-0.7.6+57 with Simple Ores. It crushes Simple Ores copper ore and tin ore just fine. It does not know about adamantium and mythril ores as those are not ores that it comes with recipes for, or uses, and there is no 'crushed ore' item for those ores in Silent's Mechanisms. I won't say "no, never" about adding that support, but it's way down on my priority list,

[2020-07-09 17:39] ClaudiusMinimus commented on #36
Thank you!

[2020-08-03 06:23] medsal15 opened #40 "Ores can be mined by hand"
Tin, copper, onyx, adamantium, and mythril ores can be mined without a tool in survival

[2020-08-04 18:58] Sinhika commented on #40
Which version of Minecraft & Simple Ores has this problem?

[2020-08-07 04:28] medsal15 commented on #40
Minecraft 1.16.1, Simple Ores 2.2.0.1, Forge 32.0.106

[2020-08-07 14:42] Sinhika commented on #40
Ah, I thought that might be it. Fixed with Simple Ores 2.2.0.2.

[2020-08-07 14:42] #40 closed, assigned to nobody

[2020-08-31 22:57] Wiccat commented on #24
FWIW Silent's mods are all fully 1.16.1 compatible now (1.16.2 is a problem because of world-gen changes):
 * Adding uses for mythril/adamantium is fairly eaisly done with a data pack + resource pack combination and turning them into SilentGear materials (I'm using working copies my MP world now) and it allows Mythril and Adamantium to be used by SilentGear and proceseed through SilentMechanism ma

[2020-09-12 01:05] Wiccat opened #41 "Metal Dusts for 1.16.x?"
Would it be possible to add dust objects for SimpleOres2 in the next update for 1.16.x?
Would make integrating SO into other mods easier.

[2020-10-09 17:12] Sinhika commented on #41
Once I finish porting the various add-on mods at 1.15.2 or 1.16.1 to 1.16.3, I'll poke at dusts.  I'm almost done with the 1.16.3 ports, so that will be soon.

[2020-10-12 19:37] Sinhika commented on #24
Implemented Silent's Mechanisms crusher recipes and dust and ore chunk items for Mythril and Adamantium. Onyx will not be crushable; the gems are brittle and would shatter in a crusher. Upgrade currently in 1.15.2, will be ported to 1.14.4 and 1.16.3 as time allows.

[2020-10-12 19:37] #24 closed, assigned to Sinhika

[2020-10-12 19:39] Sinhika commented on #41
I've been aiming primarily at Silent's Mechanisms, which already provides copper and tin dusts. I have only implemented mythril dust and adamantium dust so far. Does Simple Ores need to provide its own copper and tin dust?

[2020-10-13 02:55] Wiccat commented on #41
For compatibility with other tech mods, it probably wouldn't hurt. That said, I've been using SimpleOres2 + JAOPCA under 1.15.2/1.16.1 and the only issue has been with mythril and adamantium not having any dust elements in any of the addons, and so crushing nuggets for these - just destroys the nuggets and leaves air.

[2020-11-12 04:27] kitsu opened #43 "Ores don't have forge tags"
I'm using CC:Tweaked, and my mining program is checking for the `forege:ores` tag to determine what blocks it should dig.
I noticed that my turtle passed right by an ore, and when I checked it was Simple Ores tin.

After double checking with `turtle.inspect()` it looks like none of your ores have any tags?
I would expect at least `forge:ores` and `forge:ores/copper` (or whatever ore it is).

Thank

[2020-11-12 16:05] Sinhika commented on #43
... It helps if I don't have the data-generation code that creates block tags commented out. Fixed by commit 44ead01a98d1359f8e377efe08aa24165f17dd9b. ~~Issue probably needs to be addressed in 1.15.2 & 1.14.4 branches as well~~  No, 1.15.2 and 1.14.4 have their tags okay. Fixed in new release on CurseForge, SimpleOres 1.16.4-2.4.2.1

[2020-11-12 16:05] #43 closed, assigned to nobody

[2020-11-18 21:44] Coraline77447 opened #44 "Copper gear (Copper Tools, Sword, and Armor) Noncraftable/Uncraftable/Unobtainable In Survival Mode"
Hi, I've noticed that before my world that I played on was un-joinable due to errors in selected datapacks that I was not able/unable  to craft copper armor and tools so I've disabled copper's ore generation and items for now till the issue is fixed unless the latest update fixes this issue then you can simply ignore this. Also I have JEI installed and when I was trying to see Copper's recipes I w

[2020-11-19 03:21] Sinhika commented on #44
Which version of Minecraft, Forge, and SimpleOres are you using? If later than MC 1.15.2, what version of SimpleCoreLib are you using?

[2020-11-21 23:21] Coraline77447 commented on #44
I'm using Minecraft 1.16.4, Forge 1.16.4 now at 35.1.0 for Forge, and at the moment Idk what version of SimpleCoreLib I'm currently using but it should be the least version, when I'd reported this issue I was using Forge version 35.0.7 or 35.0.17 I think (before the wierd crash thing started to happen when I'd jinksed myself by accident so I was basically forced to update to 35.0.18 which fixes th

[2020-11-22 08:54] xd4rkzghost01 commented on #44
Got The Same issue here and this is a lil' bit lame, cause it seems copper overtake on iron in the spawnrate so this is now my common ores in the overworld and we can't make gear from it.

MC : 1.16.4
Forge : 35.0.15
All the mods i use
![mods1164](https://user-images.githubusercontent.com/63568312/99899285-0402fd80-2c76-11eb-9875-ab93fe50d55e.png)

The Latest .log files
[latest.log](https://github

[2020-11-23 04:26] Sinhika commented on #44
I tested with SimpleOres2-1.164-2.4.2.1 and SimpleCoreLib-1.16.4-2.0.2.0, JEI 1.16.3-7.3.2.36, and Forge 35.1.0, with no other mods. I was unable to duplicate the error; I was able to create copper tools in the crafting table in both Creative and Survival mode.

@xd4rkzghost01  your error logs show that the forge:ingots/copper tag is not defined. SimpleOres 1.16.4-2.4.2.1 definitely defines that t

[2020-11-23 08:43] xd4rkzghost01 commented on #44
As you say i've try to find "a" mod or some mods that may cause the problem and i dint find it . BUT i try at least to set to False the Copper Generation and it dint works... i still get copper now even if i disable all the copper tool/ores ect. in the mod config.files

[2020-11-23 14:29] Coraline77447 commented on #44
I'm using the latest version of SimpleOres2

2.4.2.1

Btw Fusion has incompatible datapack(s) when I looked onto the data pack option when I was making a new world after my last one was un-joinable due to selected datapacks that have errors (incompatible, made for an older version of Minecraft). I don't know why me and any other people cant craft Copper tools, weapon (sword) and the armor but I do

[2020-11-23 15:23] Sinhika commented on #44
@xd4rkzghost01 this may be a silly question, but are you creating a new world when you check for copper generation? Old copper veins won't disappear just because you turned off new copper ore generation.

Trying to find the conflicting mod can be tedious; start with just SimpleCoreLib & SimpleOres in a test world, and see if you can duplicate the copper tool problem. If not, add mods one at a time

[2020-11-23 16:34] Coraline77447 commented on #44
Ik that your latest reply to xd4rkzghost01 may not be what's happening to me with the Copper stuff but I've recently (like just now) been thinking that what if it's one of the mods that I'm playing with that is conflicting with Simple Ores's Copper but I seriously don't know which mod that I was playing with that was causing this confliction with Simple Ores and I dont think that any of the mods t

[2020-11-25 08:29] xd4rkzghost01 commented on #44
(1st thing off : i'm trying to understand and write my possible in english but i'ma native language is french so i'm sorry if i made some miss-spelling)

God i hate you :D I just finished checking 1 by 1 every mod i have installed and FINALLY, 2 day later; after drag in-n-out 61 mod;  i find the 1 causing the error

MoreVanillaWeapons:
https://www.curseforge.com/minecraft/mc-mods/morevanillaweapon

[2020-11-25 22:32] Sinhika commented on #44
The problem is in MoreVanillaWeapons, and I will attempt to bring it to the dev's attention.

[2020-11-25 22:32] #44 closed, assigned to Sinhika

[2020-11-27 10:04] Coraline77447 commented on #44
I know that you closed this issue but....

![20201127_030245](https://user-images.githubusercontent.com/72243304/100436871-2ffaf600-305d-11eb-9f64-59e08eb44709.jpg)

I'm in creative mode and thought that my issue has been fixed but apparently not yet and we still dont know what's causing this to happen and yes I currently have MoreVanillaWeapons installed and it's the latest version of; SimpleCore

[2020-11-27 14:50] Sinhika commented on #44
It's a problem with MoreVanillaWeapons--the dev incorrectly implemented forge tags, and as a result, wipes out EVERYONE's forge tags of the same type (e.g. "forge:ingots/copper") AND the recipes that depend on those tags. I've reported the issue to the dev in his CurseForge project comments; I can't fix it for him for various legal and physical reasons. It's not a bug in SimpleCoreLib or SimpleOre

[2020-11-28 15:05] Sinhika commented on #41
Okay, there are now dust and crushed ore objects for all SimpleOres2 ores & metals except onyx. My theory for onyx is that it is too brittle for crushing and shatters into useless gravel if fed to a crusher/grinder.

[2020-11-28 15:05] #41 closed, assigned to nobody

[2020-11-30 20:39] Sinhika commented on #44
MoreVanillaWeapons 1.16.2/3/4-1.4.2 fixed the problem at their end; it appears to work okay with SimpleOres now.

[2020-12-01 12:25] Coraline77447 commented on #44
Yeah, it's working now. I'd literally just crafted and enchanted both the Copper gear from your mod and crafted MVW's Copper weapons yesterday  morning since they've added support for SimpleOres2's Copper to be used for crafting their weapons so now MVW doesn't only support Ice&Fire mod for copper except for silver that only Ice&Fire supports with still which I'll still be waiting for them to add

[2020-12-03 06:34] EgorimM opened #45 "error while loading mod 1.16.4"
Hello, I'm getting an error while using your mod.
Error in item ID and name.
What should I do?

Mod version 1.16.4 2.4.2.3
Forge 35.1.0

Log

Error loading mods
error has occurred during loading
Simple Ores (simpleores) encountered an error during the load_registries event phase javalang. Illegal5tateException: Attempted to set registry name with existing registry name! Neu: silents_nechanisms: cr

[2020-12-04 15:46] Sinhika commented on #45
I still can't duplicate this bug, but I have attempted a "brute-force" fix to the problem. (Commit 98bc702a1b410f18fe5dbd24b9a1ed9fc19f5380)

Try the latest version (1.16.4-2.4.2.4 or later). Also update to the latest version of Netherrocks if you are using that.

[2020-12-04 15:46] #45 closed, assigned to nobody

[2020-12-10 17:19] Tyrius1 opened #46 "Blame Report"
Not actually a noticed issue. Just going through my logs with blame installed and passing out some Blame Reports:
https://pastebin.com/cAdzFb1V
Simpleores2-1.16.4-2.4.2.4
SimpleCoreLib-1.16.4-2.0.3.2

[2020-12-19 16:20] TelepathicGrunt commented on #46
Hello! I am the maker of Blame and I can explain a bit more of why ConfiguredFeature should be registered. This can be an issue for mod compatibility as under certain conditions, unregistered ConfiguredFeatures can basically prevent other mod's registered ConfiguredFeatures from spawning if in the same generation stage.

By that I mean, if mod A adds an unregistered CF to the ore generation stage

[2020-12-19 21:14] Sinhika commented on #46
That's very helpful, I didn't even know this was an issue. Ore generation in 1.16.4 is not well documented, to put it mildly. I am working on different approaches right now.

[2020-12-19 22:58] Sinhika commented on #46
Also, what is Blame, and how do I tell if a configured feature is registered? It doesn't seem to show in the logs.

[2020-12-19 23:07] TelepathicGrunt commented on #46
Blame is a mod I made which you can download here. (best ran in production rather than dev environment but lmk if you do want to run it in your mod's dev environment. There's a few steps to do to make it run in dev) https://www.curseforge.com/minecraft/mc-mods/blame

The actual error in-game is hard to reproduce on demand but it would happen if your mod adds the unregistered ores and then another

[2020-12-24 21:00] Sinhika commented on #46
Revamped SimpleCoreLib's supporting utilities, SimpleOres2, Netherrocks, OnlySilver, SimpleTungsten, and HaditeCoal, all of which suffered from this issue.
SimpleOres commit 658f38fe17e4e2bda572fe15d94e94e06be20f2b finalized the fix.
SimpleCoreLib commit ec34c66c99ec0a92748a5f6b65199b7e50b62c55
OnlySilver commit b6104634dcc885ddc1072448a0e5c46f8c660f9d
SimpleTungsten commit e15a6b5ed80949c4f7826a6

[2020-12-24 21:00] #46 closed, assigned to nobody

[2021-01-03 23:09] Calendis opened #47 "Disabling oregen via config does not work"
The OreGeneration section, with the EnableCopperOre, EnableTinOre, etc. settings, does not work. I have set each to false and it still generates the respective ores.

Notably, the mod DOES obey the other ore generation settings, such as vein size, etc. Right now my workaround to "disable" an ore is to set its max height lower than its min height, but this seems like an ugly hack.

Info:
Minecraft:

[2021-01-04 03:04] Sinhika commented on #47
Oh, oops. My bad. When I rewrote the ore generation code to work correctly under 1.16.4, I completely forgot to check the ore generation config flags before registering & generating ore. I'll address that early this coming week sometime.

[2021-01-22 17:51] Sinhika commented on #47
Forgot to close this. Fixed as of 1.16.4-2.4.3.9.

[2021-01-22 17:51] #47 closed, assigned to Sinhika

[2021-04-03 14:49] GooopenWasntAvailable opened #48 "Armor and weapon configuration in servers doesnt work in 1.12.2"
as the title says

[2021-04-04 02:07] Sinhika commented on #48
I am no longer maintaining any version earlier than 1.16.5.

[2021-04-04 02:07] #48 closed, assigned to Sinhika

[2021-04-16 18:04] EverlastingYT opened #49 "Wrong Forge Version??"
Hello! I am having an issue loading this mod up with Curseforge. I have tried starting it up but I am met with this everytime.
![image](https://user-images.githubusercontent.com/45980432/115065533-3c70d580-9ebc-11eb-9b2f-8b0629592c01.png)
The Minecraft version I am trying to load it on is 1.14.4 and there is no forge version on curseforge that corresponds to the mod's requirements.

[2021-04-16 18:04] EverlastingYT commented on #49
Also, this is the latest 1.14.4 forge version there is on curseforge.
![image](https://user-images.githubusercontent.com/45980432/115065872-b99c4a80-9ebc-11eb-98a9-e9840cdc98a9.png)

[2021-04-16 18:05] EverlastingYT commented on #49
Although, it is listed on the forge website itself.
![image](https://user-images.githubusercontent.com/45980432/115068936-ec484200-9ec0-11eb-9dbb-614f220c2525.png)

[2021-04-16 18:06] EverlastingYT commented on #49
But I do not know how to import that forge version into curseforge; or if it is even possible to do so.

[2021-04-16 23:16] Sinhika commented on #49
It requires 28.2.4 **_or above_**.  Just get a later version. It requires features added in 28.2.4, so later versions work.

[2021-04-16 23:16] #49 closed, assigned to nobody

[2021-04-27 18:12] Arisuterra opened #50 "Silent's Mechanisms compatability issue"
hello, I been experimenting with your mods
Simple Ores
Netherocks
Fusion
Aesthetics
with a modlist of about 22, and the most recent update made them unable to recognize (first three not aesthetics) silent's mechanisms.
I been downloading and redownloading, trying to edit but unable to put them back in which they are recognized by the systems. It seems the mod meta is listing the mods version numbe

[2021-04-28 02:31] Sinhika commented on #50
Which version did the problem appear with? ("Most recent" isn't helpful when I'm tossing up alpha versions every other day). If it's one of the alphas or the recent beta version, they have NOT been tested with Silent's stuff. I'm trying to get a broad swath of fixes and upgrades done and move to a new release set for all the mods; that set of course will be tested with Silent's Gear & Mechanisms.

[2021-04-28 03:53] Arisuterra commented on #50
it was all the beta's about 3 days ago
versions
simple ores 2-1.16.5-2.4.6.2
netherrocks 1.16.5-2.3.5.2
fusion 1.16.5-2.7.3.3
and it may be silent's but i looked into all 3 with visual studio code and found the compatibilities and in mechanisms its just off a bit because of how long the version is. and to paint the whole picture i was cleaning house shortening the modlist (love akkamads stuff but

[2021-04-28 16:03] Sinhika commented on #50
I've figured out how to specify the necessary versioning in mods.toml by trial and error. (Forge could really use better documentation). SimpleOres2 is fixed, the others should follow later today.

Fixed with SimpleOres2 1.16.5-2.4.6.6

[2021-04-28 16:42] Sinhika commented on #50
Fixed the rest:
Netherrocks 1.16.5-2.3.5.4
Fusion 1.16.5-2.7.3.6 (or later)
Aesthetics and Machines were not affected, as they did not have dependencies on Silent's Mechanisms.

[2021-04-28 16:42] #50 closed, assigned to Sinhika

[2021-04-29 13:43] Arisuterra commented on #50
Wow you guys are amazing, it's all working I have tested it a bit gonna put it through the tests on my server. already I have noticed Illumenite not granting kitty-vision on helms, bracelets and rings but that might have been there before i do remember struggling with it before all the updates. but I wanna work with that more and see what's up before coming back here plus its more likely silent's

[2021-09-06 04:41] ffuentesm opened #51 "[1.17] all mod achievements auto complete when I start a new world"
In the latest version of the mod (SimpleOres2-1.16.5-2.4.7.2.jar) when I start a new world all the achievements get auto-completed.

![image](https://user-images.githubusercontent.com/44974827/132161609-5c0ec664-2649-4983-8496-1853a0c5f627.png)

[2021-09-06 14:58] Sinhika commented on #51
Creative mode or Survival mode?

[2021-09-06 15:01] ffuentesm commented on #51
I am in survival.

[2021-09-08 01:02] Sinhika commented on #51
Okay, I found the problem. I should get it fixed this weekend at the latest. Assuming another hurricane doesn't swing by.

[2021-09-09 13:55] Sinhika commented on #51
Fixed with release 1.17.1-3.0.1.3.

[2021-09-09 13:55] #51 closed, assigned to Sinhika

[2021-11-02 01:00] aleclux commented on #51
Hi!
In the release 1.17.1-3.0.1.4 it happened again. <3

[2021-12-02 02:37] RobertHDPotatoes opened #52 "Copper Ore Still Generates Rarely When Disabled"
Not sure exactly what causes this, but in certain biomes (namely Oh The Biomes You'll Go - Pointed Stone Forest, or any other BYG biome with the block "byg:overgrown_stone" copper ore from SimpleOres generates rarely. It may have something to do with replacing ores with the forge:stone tag, rather than plain stone because it seems like every vein I find replaces blocks with the tag rather than sto

[2021-12-02 02:39] RobertHDPotatoes commented on #52
It may be another mod interfering with SimpleOres ore generation, because not only do I have copper ore generation disabled in the Simpleores config, I also have it set to generate at Y = 1 if by some chance it did generate lol.

[2022-01-28 00:12] W1Real opened #53 "Can't craft any item of the mod that uses minecraft:copper_ingot"
- Minecraft 1.18.1
- Forge 39.0.10
- SimpleCoreLib 4.0.0.2
- Simple Ores 4.0.0.0

Tested on a fresh install, no conflict with other mods. `/give` works just fine.

**Thank you so much! Great mod!**

[2022-01-28 15:41] Sinhika commented on #53
Try updating your version of Forge to the latest. The early versions, like 39.0.10, didn't have copper correctly tagged. I have not been able to duplicate your bug using Forge 39.0.59.

[2022-02-13 02:41] Gaxon1 opened #54 "mithril_ore does not smelt in furnace"
simpleores:mithril_ore does not smelt in any furnaces.

Forge 39.0.66
SimpleOres2-1.18.1-4.0.0.1

[2022-02-13 07:00] Sinhika commented on #54
Nice catch; I forgot to retain mythril ore furnace recipes when I converted the old recipes to raw_mythril. Will push fix in the morning.

[2022-02-13 11:50] Sinhika commented on #54
Fixed in release 1.18.1-4.0.0.2

[2022-02-13 11:50] #54 closed, assigned to Sinhika

[2022-02-13 11:50] #53 closed, assigned to nobody

[2022-02-13 11:51] #52 closed, assigned to nobody

[2022-02-20 19:19] Gaxon1 opened #55 "Suggestion: forge tags"
Add forge tags such as forge:swords, forge:boots etc. for compatibility with other mods such as Tiered.

[2022-02-23 04:09] Gaxon1 opened #56 "BUG: Copper bucket doesn't collect water"
Copper bucket doesn't collect water on right click.
Forge 39.0.76
SimpleOres2-1.18.1-4.0.0.2

[2022-03-16 18:26] rabrunos opened #58 "[Issue] Wrong or broken verification link"
From the looks of it, the correct link is [1.18](https://raw.githubusercontent.com/Sinhika/SimpleOres2/1.18/update.json) and not [1.18.2](https://raw.githubusercontent.com/Sinhika/SimpleOres2/1.18.2/update.json)

[code]

[2022-03-16 21:33] Sinhika commented on #58
Fixed with release 1.18.2-4.1.0.2 https://www.curseforge.com/minecraft/mc-mods/simpleores/files/3695702.

[2022-03-16 21:33] #58 closed, assigned to nobody

[2022-03-16 21:37] rabrunos commented on #58
Great job!

[2022-04-18 02:11] Sinhika opened #59 "Raw tin block doesn't drop when mined."
Place a raw tin block, try to mine it with a stone tool, it is destroyed without dropping. Check mining tags; this would have been the first mod so ported, might have missed something.

[2022-04-18 02:49] Sinhika commented on #59
Caused by: missing loot tables for raw tin block, raw mythril block, and raw adamantium block.
Fixed with commit 92e9fc8eac33b2e83b5a7393ef31875ce1e3dcf7 . Added missing loot tables to datagen, re-ran data generation and re-published as SimpleOres2 1.18.1-4.0.0.5.
TODO: merge changes into 1.18 branch.

[2022-04-18 02:49] #59 closed, assigned to Sinhika

[2022-04-18 02:51] Sinhika commented on #56
Unable to duplicate with Forge 39.1.2, SimpleCoreLib 1.18.1-4.0.1.0 and SimpleOres2 1.18.1-4.0.0.5.
Closed until I get further information allowing me to duplicate this bug report.

[2022-04-18 02:51] #56 closed, assigned to Sinhika

[2022-04-28 09:03] Coraline77447 opened #60 "Simpleores Has Failed to Load Correctly: java.lang.NoClassDefFoundError: mod/alexndr/simplecorelib/config/ISimpleConfig"
Minecraft: 1.18.2
Forge: 40.1.0
SimpleOres: 1.18.2, 4.1.0.5
SimpleCoreLib: 1.18.2, 4.3.0.3

https://pastebin.com/SyHQC8vE

[2022-04-28 19:28] Sinhika commented on #60
Use SimpleOres 1.18.2-4.1.1.0 with SimpleCoreLib 1.18.2-4.3.0.1 or later. SimpleCoreLib 4.3.0.1 was a major refactoring. I will be archiving the older versions so people don't accidentally load them like you did.

[2022-04-28 19:28] #60 closed, assigned to nobody

[2022-05-04 20:32] Thombias opened #61 "[1.18.2-4.1.2.0] Some bugs and sound inconsistencies"
A few bugs (and missing features?) i noticed while playtesting the mod with my new textures:
- Deepslate tin ore doesn't appear to drop more with Fortune enchantments. I always kept getting 1-4 drops instead of 1-8 drops from regular stone tin ore blocks. (Personally i think tin should drop 2-5 raw ores similar to copper without fortune anyway so you're even more inclined to use it for decoration.

[2022-05-07 15:59] Sinhika commented on #61
Nice catch.
- fixed the deepslate tin ore not dropping multiple raw metal.
- fixed the doors dropping 2x.
- didn't know there was a difference between deepslate stone and stone sounds. Fixed, but not tested yet (dev env doesn't have sound).
- Did not know that raw metal blocks used stone sounds. Fixed.
- Onyx is a stone. It should sound like stone. Vanilla making diamond sound like metal is vanill

[2022-05-15 22:31] Sinhika commented on #61
- fixed missing bow zoom with release [SimpleOres2-1.18.2-4.1.2.4.jar](https://www.curseforge.com/minecraft/mc-mods/simpleores/files/3793071)

[2022-05-15 22:31] #61 closed, assigned to Sinhika

[2022-05-30 00:34] Sinhika opened #63 "Missing language entry for advancements.adamantium_legs_ach"
As per title.

[2022-05-30 15:02] Sinhika opened #64 "Wiki: Aesthetics page needs new image for blocks"
Aesthetics page on the wiki shows old textures. Need picture of new textures for blocks.

[2022-05-30 15:22] Sinhika commented on #63
Fixed with SimpleOres 1.18.2-4.1.2.9

[2022-05-30 15:22] #63 closed, assigned to Sinhika